/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/admin/admin.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.admin_container__uVSVc {
    padding: 30px;
    width: 100%;
  }
  
  .admin_heading__ZJVDw {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .admin_intro__y1CqH {
    margin-bottom: 30px;
  }
  
  .admin_section__ID0dh {
    margin-top: 40px;
  }
  
  .admin_cardGrid__Ubt8y {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  
  .admin_card__066de {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .admin_card__066de strong {
    font-size: 22px;
    display: block;
    margin-bottom: 5px;
  }
  
  .admin_activityList__yIzii {
    margin-top: 15px;
    padding-left: 20px;
  }
  
  .admin_activityList__yIzii li {
    margin-bottom: 5px;
  }
  

  /** header section css */
  .admin_header__BXCuK {
    background: #333;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .admin_brand__X7pwC {
    text-decoration: none;
    color: #fff;
  }
  
  .admin_brand__X7pwC h2 {
    margin: 0;
  }
  
  .admin_profileIcon__bcLgZ {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
  
