.help_wrap {
	    background-color: #FFF8F6;
	    border-radius: 30px;
	    padding: 40px;
	    display: flex;
	    flex-direction: column;
	    gap: 15px;
        margin: 3rem auto;
	}
	.help_svg img {
		width: 60px;
		height: 60px;
	}
    .second_heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2em;
}

@media screen and (max-width: 768px) {
    .help_wrap {
        padding: 15px;
    }
}